.select {
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;


}


.items {
    display: none;
    border: 1px solid black;
    position: absolute;
    padding: 2px;
}
.select.active .items {
    display: block;
}